<!-- Loads Head + Meta tags files -->
<%- include('./includes/head') %>
  
  <!-- Loads common header element to the page -->
  <%- include('./includes/header') %>
  
  <h2><%= romName %></h2>
  <main id='resultsWindow'>
    <section class='result'>
      <table>
          <% bytesArray.forEach((data, index) => { %>
              <% if((index % (rowSize)) == 0) { %>
                <tr>
                    <th><%= data %></th>
              <% } else if((index < rowSize) && (index % rowSize) != (rowSize - 1)) { %>
                <th><%= data %></th>
              <% } else if((index < rowSize) && (index % rowSize) == (rowSize -1)) { %>
                <th><%= data %></th>
              </tr>
              <% } else if((index % rowSize) != (rowSize - 1)) { %>
                <td><%= data %></td>
              <% } else { %>
                <td><%= data %></td>
              </tr>                
              <% }; %>
          <% }); %>
      </table>
    </section>
    <section class='result'>
        <p>ASM code will appear here</p>
        <p>ASM code will appear here</p>
        <p>ASM code will appear here</p>
        <p>ASM code will appear here</p>
      </section>
  </main>

<!-- Loads Footer + HTML closing tags -->
<%- include('./includes/footer') %>